<div class="card">
  <!-- Navigation Tabs -->
  <div class="card-header bg-">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'about'">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="rxjs-basic">Rxjs Basic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>