<div class="card">
  <!-- Navigation Tabs -->
  <div class="card-header bg-">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'about'">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="rxjs-basic">Rxjs Basic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'employee-details'">Employee Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ngrx-counter"> Ngrx-counter - {{counter |async}}</a>
      </li>
      <form class="d-flex">
        <select name="" id="" (click)="onRollChange($event)">
          <option value="1">Guest</option>
          <option value="2">Admin</option>
          <option value="3">Super Admin</option>
        </select>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <li class="nav-item ms-auto">
       <button class="btn btn-danger" type="logout" (click)="logout()">logout</button>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
